body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 1.25rem;
  background-color: #0d3b66;
  color: white;
  display: flex;
  justify-content: center;
  width: 100%;
}

#shutiLogo {
  width: 190px;
  height: auto;
  display: block;
  margin: 0 auto 50px auto;
}

.profile-page {
  width: 100%;
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-identity {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.user-goals {
  margin-top: 20px;
  font-size: 1.5rem;
}

h2 {
  width: 100%;
  text-align: left;
  margin-bottom: 30px;
}

section {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.goal-box {
  border: 1px solid #4a6fa5;
  padding: 5px 15px;
  min-width: 120px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.05);
}

button {
  background-color: #4a6fa5;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px 24px;
  cursor: pointer;
  color: black;
  font-size: large;
}

.goal-warning {
  color: red;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  width: 100%;
}
