/*Background*/
body {
  background-color: #2e4172;
  background: #004680;
  background: -webkit-linear-gradient(to right, #4484ba, #004680);
  background: linear-gradient(to right, #4484ba, #004680);
  font-size: large;
  font-family: 'Segoe UI', sans-serif;
}

/*Logo*/
#shutiLogo {
  width: 175px;
  height: auto;
  display: block;
  margin: 20px auto;
  margin-top: 20px;
}

/*Page header*/
#loginHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e3edf5;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
    135deg, 
    rgba(30, 60, 114, 0.7),
    rgba(42, 82, 152, 0.7)
    );
  border-radius: 12px;
  padding: 10px 20px;
  margin: 30px auto;
  width: fit-content;
  -webkit-mask-image: radial-gradient(circle, black 70%, transparent 100%);
  mask-image: radial-gradient(circle, black 70%, transparent 100%);
}


/*Input fields*/
.input {
  
  background-image: linear-gradient(to bottom left, #235e96ce, #223f63);
  color: rgb(0, 0, 0);
  font-size: large;
  padding: 2px;
  margin-top: 3px;
  border-radius: 0.5rem;
  width: 200px;
}

/*Makes page center*/
#pageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Login error message*/
.error {
  color: red;
  margin: 10px;
}


/*____________________________________Buttons____________________________________*/
.button {
    padding: 13px 23px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-image: linear-gradient(to bottom right, #0f4c858e, #254975);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 0px #19385e;
    transition: all 0.2s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 0px #262b58;
}

.button:active {
    transform: translateY(0px);
    box-shadow: none;
    background-image: linear-gradient(to bottom right, #175c9c8e, #254975);
}

/*** disabled style ***/
.btn-101:disabled {
    pointer-events: none;
    opacity: .65;
    color: #7e7e7e;
    background: #dcdcdc;
    box-shadow: none;
    text-shadow: none;
}