/*Background*/
body {
  background-color: #2e4172;
  background: #004680;
  background: -webkit-linear-gradient(to right, #4484ba, #004680);
  background: linear-gradient(to right, #4484ba, #004680);
  font-size: large;
  font-family: serif;
}

/*Logo*/
#shutiLogo {
  width: 175px;
  height: auto;
  display: block;
  margin: 20px auto;
  margin-top: 20px;
}

/*Page header*/
#createUserHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e3edf5;
  background-color: #2e4a66;
  font-family: serif;
  border-radius: 0.5rem;
  width: fit-content;
  padding: 5px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

/*Makes page center*/
#pageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}