body {
  background-color: #2e4172;
  background: #004680;
  background: -webkit-linear-gradient(to right, #4484ba, #004680);
  background: linear-gradient(to right, #4484ba, #004680);
  font-size: large;
  font-family: serif;
}

#shutiLogo {
  width: 175px;
  height: auto;
  display: block;
  margin: 20px auto;
  margin-top: 20px;
}

#overViewHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e3edf5;
  background-color: #2e4a66;
  font-family: serif;
  border-radius: 0.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
  background-color: #6689a5;
  color: #000000;
}

th {
  background-color: #4c6aa5;
}

/*DROPDOWN MENU*/

.dropdown {
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
}

.dropbtn {
  background-color: #4c6aa5;
  padding: 5px;
  border-radius: 0.3rem;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdownContentButtons {
  text-align: left;
  background-color: #aebcdabb;
  border: none;
  padding: 5%;
  font-size: large;
  font-family: serif;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown:hover .dropbtn {
  background-color: #37599b;
}

.green td {
  background-color: rgba(33, 224, 33, 0.562);
}

.red td {
  background-color: rgba(255, 34, 34, 0.76);
}
